<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-3 col-xl-2">
            <input type="text" class="form-control form-control-lg" type="text" name="search" [(ngModel)]="searchText"
              autocomplete="off" placeholder="Search here...">
          </div>
          <div class="col-md-6 col-lg-9 col-xl-10 text-md-right mt-4 mt-md-0">
            <button class="btn btn-lg btn-outline-primary text-dark" title="Add Contacts" (click)="open(addContactModal)">
              <i class="fa fa-plus-square"></i></button>              
              <button class="btn btn-lg btn-outline-primary text-dark" title="Select Contacts" *ngIf="contacts && contacts.length" (click)="selectAllContacts()">
                <i class="fa fa-check-circle"></i></button>
                <button class="btn btn-lg btn-outline-primary text-dark" title="Delete Contacts" *ngIf="isShowDeleteContacts" (click)="openDeleteContactsModal(deleteContactsMessageModal)">
                  <i class="fa fa-trash"></i></button>
              <button class="btn btn-lg btn-outline-primary text-dark" title="Upload Contacts" (click)="openUploadContact(uploadContactModal)">
                <i class="fa fa-upload"></i></button> 
              <button class="btn btn-lg btn-outline-primary text-dark" title="Refresh Contacts" (click)="getContacts()">
                  <i class="fa fa-sync"></i></button>  
              <button class="btn btn-lg btn-outline-primary text-dark" *ngIf="contacts && contacts.length" title="Delete All Saved Contacts" (click)="openDeleteAllContactsModal(deleteAllContactsMessageModal)">
                <i class="fa fa-ban"></i></button>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf='contacts && contacts.length'>
  <div class="col-md-4" *ngFor="let c of contacts | filter:searchText">
    <div class="card">
      <div class="card-body text-center">
        <div class="text-right">
          <input type="checkbox" class="form-check-input" (click)="toggleContactInfo(c)" [checked]="c.isSelected">       
          <br>
        </div>  
         <br *ngIf="!c.firstName && !c.lastName">  
        <h4 class="card-title mt-1 mb-0">{{ c.firstName }} {{c.lastName}}</h4>
        <div class="mt-3">
          <button class="btn btn-outline-primary" title="SMS">SMS</button>
          <button class="btn btn-light" title="Phone call">Call</button>
        </div>
        <div class="mt-3 pt-3">
          <address>
            {{ c.contactNumber }}</address>           
        </div>       
      </div> 
      <br>
      <div class="text-right">
        <button title="edit" class="btn ml-2 btn-md pl-3 text-dark" (click)="openEditModal(addContactModal, c)">
          <i class="fas fa-edit"></i>
        </button> 
        <button title="delete" class="btn btn-md pl-2 text-dark" (click)="openDeleteContactsModalFromContact(deleteContactsMessageModal, c)">
          <i class="fas fa-trash"></i>
        </button> 
      </div>      
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf='!contacts.length && !isSpinnerVisible'>
   <p><b>{{emptyContacts}}</b></p>
</div>
<div *ngIf="isSpinnerVisible">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<!-- Modal -->
<ng-template #addContactModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="responseMessage.successMessage">
      <strong>{{responseMessage.successMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="responseMessage.errorMessage">
      <strong>{{responseMessage.errorMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br>
    <form [formGroup]="contactForm" (ngSubmit)="addContact()">
      <div class="form-group">
        <label for="contactFirstName">First Name</label>
        <input type="text" class="form-control" id="contactFirstName" formControlName="firstName"
           placeholder="First Name">   
      </div>
      <div class="form-group">
        <label for="contactLastName">Last Name</label>
        <input type="text" class="form-control" id="contactLastName" formControlName="lastName"
           placeholder="Last Name">   
      </div> 
      <div class="form-group">
        <label for="contactNumber">Contact Number<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber"
           placeholder="Contact Number">   
      </div>  
      <div class="validate text-danger">{{invalidContactNumber}}</div>  
      <div *ngIf="contactNumber?.errors.minlength || contactNumber?.errors.maxlength" class="validate text-danger">Contact number cannot must be between 1 and 20 characters long</div>
      <br>      
      <div class="form-group">
        <button type="submit" [disabled]="!contactForm.valid" *ngIf="isAddVisible" (click)="addContact();"
          class="btn btn-outline-primary">Add Contact</button>
          <button type="submit" [disabled]="!contactForm.valid" *ngIf="isEditVisible" (click)="editContact();"
          class="btn btn-outline-primary">Update Contact</button>
          <button type="button" class="btn btn-outline-primary" *ngIf="isLoaderVisible">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Processing...
          </button>
      </div>
      <input type="hidden" formControlName="Id" id="contactId"/>
    </form>
  </div>

</ng-template>

<ng-template #uploadContactModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="responseMessage.successMessage">
      <strong>{{responseMessage.successMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="responseMessage.errorMessage">
      <strong>{{responseMessage.errorMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br>
    <form [formGroup]="contactUploadForm" (ngSubmit)="submitFile()">
      <div class="form-group">
        <label for="contactFirstNameHeader">First Name Header</label>
        <input type="text" class="form-control" id="contactFirstNameHeader" formControlName="firstNameHeader"
           placeholder="First Name Header">   
      </div>
      <div class="form-group">
        <label for="contactLastNameHeader">Last Name Header</label>
        <input type="text" class="form-control" id="contactLastNameHeader" formControlName="lastNameHeader"
           placeholder="Last Name Header">   
      </div>       
      <div class="form-group">
        <label for="contactNumberHeader">Contact Number Header<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="contactNumberHeader" formControlName="contactNumberHeader"
           placeholder="Contact Number Header">   
      </div>  
      <div class="form-group">
        <label for="separatorText">Separator<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="separatorText" formControlName="separatorText"
           placeholder="Enter the character value of your separator e.g , or | or # etc">   
      </div>  
      <div class="form-group">
        <input type="file" #browse class="form-control" id="uploadCsvBtn" placeholder="Browse CSV file" accept=".csv" (change)="uploadCsvFile(browse.files)" style="display: none;"> 
           <button type="button" class="btn btn-outline-primary" (click)="browse.click()">Upload File</button>  
           <span class="ml-2"><strong>{{fileName}}</strong></span>
      </div>            
      <br>      
      <div class="form-group">
        <button type="submit" [disabled]="!contactUploadForm.valid"
          class="btn btn-outline-primary" *ngIf="isUploadVisible">Submit</button>       
          <button type="button" class="btn btn-outline-primary" *ngIf="isLoaderVisible">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Processing...
          </button>
      </div>
    </form>
  </div>

</ng-template>

<!-- <ng-template #addContactModalLoader let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  </div>
</ng-template> -->

<ng-template #deleteContactsMessageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="responseMessage.successMessage">
      <strong>{{responseMessage.successMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="responseMessage.errorMessage">
      <strong>{{responseMessage.errorMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br>
    <div class="text-center" *ngIf="isLoaderVisible">
      <span class="spinner-grow text-primary spinner-grow-lg" role="status" aria-hidden="true"></span>    
    </div>
    <div *ngIf="isDeleteMessageVisible">
      <p class="text-center" *ngIf="isMultipleContactsSelected">Are you sure you want to delete selected contacts?</p>
      <p class="text-center" *ngIf="isSingleContactSelected">Are you sure you want to delete selected contact?</p>
      <div class="form-group text-center">
        <button type="button" class="btn btn-outline-primary mr-3" (click)="deleteSelectedContacts()">Yes</button>     
        <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss()">No</button>         
      </div>
    </div>  
  </div>
</ng-template> 

<ng-template #deleteAllContactsMessageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete All Contacts</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="responseMessage.successMessage">
      <strong>{{responseMessage.successMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="responseMessage.errorMessage">
      <strong>{{responseMessage.errorMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br>
    <div class="text-center" *ngIf="isLoaderVisible">
      <span class="spinner-grow text-primary spinner-grow-lg" role="status" aria-hidden="true"></span>    
    </div>
    <div *ngIf="isDeleteAllMessageVisible">
        <p class="text-center">Are you sure you want to delete all saved contact?</p>
        <div class="form-group text-center">
          <button type="button" class="btn btn-outline-primary mr-3" (click)="deleteAllSavedContact()">Yes</button>     
          <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss()">No</button>   
      </div>
    </div>    
  </div>
</ng-template> 
