  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>TravisComms</h3>
      <p>Saving you time from building it from yourself.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; {{currentYear}} <strong><span>TravisComms</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->