

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="/home">TravisComms</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/homeimages/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#hero">Home</a></li>
              <li><a href="#providers">Service Providers</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="#pricing">Pricing</a></li>
              <li><a href="#signup">Sign Up</a></li>           
              <li><a href="#contact">Contact</a></li>

            </ul>
          </nav><!-- .nav-menu -->          
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">  
          <h1>Self Service Multi Provider Contact Management Portal</h1><br>
          <h2>Cloud hosted solution to power the consumption of your cloud communications provider such as Twilio, Vonage, Unifonic & more</h2>
          <br>
          <button class="btn btn-lg btn-primary col-lg-4" type="submit" (click)="login()">Log In</button>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Service Providers Section ======= -->
    <section id="providers" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Service Providers</h2>          
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div><img class="grid-image" src="../../assets/homeimages/providers/twilio.png" alt="Twilio" width="50" height="50"></div><br>
              <h4><a href="">Twilio</a></h4>
              <p>Send SMS and make calls with your Twilio subscription or using a shared Twilio subscription</p> 
              <br>
              <br>
              <a href="#about" class="get-started-btn scrollto" target="">View Pricing</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
                <div><img class="grid-image" src="../../assets/homeimages/providers/vonage.png" alt="Twilio" width="50" height="50"></div><br>
              <h4><a href="">Vonage</a></h4>
              <p>Carry out your call centre activities using your Vonage subscription.</p>
              <br>
              <br>
              <a href="#about" class="get-started-btn scrollto" target="">View Pricing</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
                <div><img class="grid-image" src="../../assets/homeimages/providers/unifonic.png" alt="Twilio" width="50" height="50"></div><br>
              <h4><a href="">Unifonic</a></h4>
              <p>Create schedule for sending sms to your contacts using your Unifonic subscription</p>
              <br>
              <br>
              <a href="#about" class="get-started-btn scrollto" target="">View Pricing</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div><img class="grid-image" src="../../assets/homeimages/providers/plivo.png" alt="Twilio" width="50" height="50"></div><br>
              <h4><a href="">Plivo</a></h4>
              <p>Power your Plivo subscription with our self service application for text and voice communication</p>
              <br>
              <br>
              <a href="#about" class="get-started-btn scrollto" target="">View Pricing</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div><img class="grid-image" src="../../assets/homeimages/providers/telnyx.png" alt="Twilio" width="50" height="50"></div><br>
              <h4><a href="">Telnyx</a></h4>
              <p>Use this portal to consume Telnyx's API and avoid cost of developing your own similar solution</p>
              <br>
              <br>
              <a href="#about" class="get-started-btn scrollto" target="">View Pricing</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div><img class="grid-image" src="../../assets/homeimages/providers/whatsappbiz.png" alt="Twilio" width="50" height="50"></div><br>
              <h4><a href="">WhatsApp</a></h4>
              <p>Avail yourself of this self service online portal to configure your WhatsApp Business account.</p>
              <br>
              <br>
              <a href="#about" class="get-started-btn scrollto" target="">View Pricing</a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Service Providers Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
        </div>
          <div class="col-lg-3 cta-btn-container text-center">
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>          
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-receipt"></i>
              <h4>Upload Contacts</h4>
              <p>Upload contact information from CSV and with up to 10 custom attributes per contact.</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-user-plus"></i>
              <h4>One Account, Multiple Users</h4>
              <p>Add up to 15 users to your account.</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-calendar"></i>
              <h4>Scheduler</h4>
              <p>Create a schedule for when sms or voice messages should be sent to your contacts.</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-building-house"></i>
              <h4>Enterprise Usage</h4>
              <p>Integrate for enterprise wide usage using your Azure Active Directory tenant.</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/homeimages/features.jpg");'></div>
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>Saving you time from building it from yourself</h3>
        </div>
      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container"> 
        <div class="section-title">
          <h2>Pricing</h2>
        </div>

        <div class="row" style="padding-left: 13%;">
              <div class="col-lg-5 col-md-6 text-center" *ngFor="let subscriptiontype of subscriptionTypes">
                  <div class="box" *ngIf="subscriptiontype.price === 0">
                      <h3>Trial</h3>
                      <h4><sup>€</sup>{{subscriptiontype.price}} <span>{{subscriptiontype.periodInDays}} Days</span></h4>
                      <ul>
                        <li>1 User</li>
                        <li>Add only 2 contacts</li>
                        <li>Only 5 transactions</li>
                        <li>Only 1 service provider</li>
                      </ul>
                      <div class="btn-wrap mt-4 pricing-btn">
                        <a href="#signup" data-priceoption="trialOption" class="btn-buy">Sign Up</a>
                      </div>
                  </div>
                  <div class="box" *ngIf="subscriptiontype.price > 0">
                      <h3>Paid</h3>
                      <h4><sup>€</sup>{{subscriptiontype.price}}<span> / month</span></h4>
                      <ul>
                        <li>Add up to 15 users per account</li>
                        <li>Add up to 500 contacts</li>
                        <li>Multi Service Providers</li>
                        <li>Schedule sms and voice messages</li>
                      </ul>
                      <div  class="btn-wrap mt-4 pricing-btn">
                        <a href="#signup" data-priceoption="paidOption" class="btn-buy">Sign up</a>
                      </div>
                  </div>                   
              </div>         
        </div>      
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Sign Up Section ======= -->
    <section id="signup" class="signup">
      <div class="container">
        
        <div class="section-title mt-3">
          <h2>Sign Up</h2>          
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="responseMessage.successMessage">
          <strong>{{responseMessage.successMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form novalidate [formGroup]="registerForm" (ngSubmit)="createAccount()">
          <div class="form-row">
            <div class="col-md-5 form-group">
              <input type="text" class="form-control" formControlName="firstName" placeholder="First Name"/>
            </div>
            <div class="col-md-2 form-group">
              <span class="text-danger">*</span>
            </div>
            <div class="col-md-5 form-group">
              <input type="text"  class="form-control" formControlName="lastName" placeholder="Last Name"/>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-5 form-group">
              <input type="email" class="form-control" formControlName="emailAddress" placeholder="Email Address"/>
              <div class="validate text-danger">{{ emailValidationMessage }}</div>
            </div>
            <div class="col-md-2 form-group">
              <span class="text-danger">*</span>
            </div>
            <div class="col-md-5 form-group">
              <input type="text" class="form-control" formControlName="company" placeholder="Company"/>
            </div>
          </div>
          <div class="form-row" formGroupName="passwordGroup">
            <div class="col-md-5 form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password"/>
              <app-password-strength class="text-center" (passwordStrength)="passwordValid($event)" [passwordToCheck]="registerForm.get('passwordGroup.password').value"></app-password-strength>
              <div class="validate text-danger">{{invalidPasswordMessage}}</div>
            </div>
            <div class="col-md-2 form-group">
              <span class="text-danger">*</span>
            </div>
            <div class="col-md-5 form-group">
              <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" />
              <div class="validate text-danger">{{passwordMismatchMessage}}</div>
            </div>
          </div>     
          <div class="row text-center mb-4" formGroupName="subscriptionTypeGroup"> 
            <div class="form-check col-lg-6 col-md-6" *ngFor="let subscriptiontype of subscriptionTypes; let i = index">
              <input id="trialSubId"  *ngIf="subscriptiontype.price === 0" formControlName="trialSubscriptionType" (click)="setSubscriptionType('trial')" class="form-check-input" type="checkbox">
              <input id="paidSubId"  *ngIf="subscriptiontype.price > 0" formControlName="paidSubscriptionType" (click)="setSubscriptionType('paid')" class="form-check-input" type="checkbox">
              <label class="form-check-label mr-2" for="subscriptionChoice">
                {{subscriptiontype.name}} 
              </label>   
            </div>
          </div> 
          <div class="validate text-center text-danger" *ngIf="!registerForm.get('subscriptionTypeGroup.trialSubscriptionType').value && !registerForm.get('subscriptionTypeGroup.paidSubscriptionType').value">Please select a subscription</div>
          <br>  
          <div class="text-center"> <input class="form-check-input" type="checkbox" formControlName="termsAndPrivacy">
            <label class="form-check-label mr-2" for="termsAndPrivacy">
              I accept the <a href="#">Terms</a> and <a href="#">Privacy</a> statements. 
            </label>  
          </div>
          <br>        
          <div class="text-center"><button [disabled]="!registerForm.valid" class="btn btn-lg btn-outline-primary col-lg-2" type="submit">Sign Up</button></div>
          <br>                   
          <div class="validate text-danger text-center">{{responseMessage.errorMessage}}</div>
       </form>     
      </div>
    </section><!-- Sign Up Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>
      </div>
      <div class="container">

        <div class="row mt-2">

          <div class="col-lg-4">
            <div class="info">             
              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email:</h4>
                <p>info@traviscomms.com</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" class="btn btn-lg btn-outline-primary col-lg-4">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <app-home-footer></app-home-footer>

  <div id="preloader"></div>


